doctype html
html
    head
        include template/head
        
        
    body
        include template/menu
        
        br
        .container
            .row
                .col-sm-10 !{data.html}

       
            
                    



                        

       
       

        //scriptsJS
        include template/scripts
      
            

    










