doctype html
html
    head
        include ./head.pug
        
        
    body
        include ./menu.pug
        
        br
        .container
            .row
                .col-sm-10 !{data.html}

       
            
                    



                        

       
       

        //scriptsJS
        include ./scripts.pug
      
            

    










