doctype html
html
    head
        include ./head.pug
        
        
    body
        include ./menu.pug
        
        .container#listBlog
            
       

       
            
                    



                        

       
       

        //scriptsJS
        include ./scripts.pug
        script(src=config.path.AssetsSite+"/code/blog.js")
      
            

    










