doctype html
html
    head
        include template/head
        
        
    body
        include template/menu
        
        .container#listBlog
            
       

       
            
                    



                        

       
       

        //scriptsJS
        include template/scripts
        script(src=config.path.AssetsSite+"/code/blog.js")
      
            

    










