doctype html
html
    head
        include template/head
    body
        include template/menu
        br
        br
        br
        .container-fluid
            .row
                .col
                .col
                    .card.text-white.bg-secondary.mb-3
                        .card-header
                            p(align="right") LX - Chat V.1.1.0 
                        .card-body
                            .card.border-info
                                #append_here(style="height:500px; overflow-y:auto; overflow-x:hidden;")
                        .card-footer
                            .row
                                .col-sm-8
                                    textarea#msg.form-control(placeholder="Write a message...", rows="2")
                                .col-sm-4
                                    br
                                    button.btn.btn-block.btn-primary#Send_ Send
                .col

        //scriptsJS
        include template/scripts
        script(src=config.path.AssetsSite + "/socket/socket.io.js")
        script(src=config.path.AssetsSite + "/code/chat.js")

      
            

    










