doctype html
html
    head
        include template/head
        
        
    body
        include template/menu
        
        div !{data.html}

       
            
                    



                        

       
       

        //scriptsJS
        include template/scripts
      
            

    










