doctype html
html
    head
        include ./head.pug
        
        
    body
        include ./menu.pug
        
        div !{data.html}

       
            
                    



                        

       
       

        //scriptsJS
        include ./scripts.pug
      
            

    










