
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
          center
            hr
            h1 403 Forbbiden
            hr
            p You have no permission to acces this URL.
            p Back to 
                a(href="/") Home 
            br
            br
            br
            hr
            
            h3  YAAFLEX is a 
                a(href="https://leganux.com")  Leganux
                |   Software. 
            h3 &copy; 2007 - 2019  
            