footer.main-footer
    .float-right.d-none.d-sm-block
        b Version
        |  3.0.0.3
    strong
        | Copyright &copy; 2007-2019
        a(target="_blank" href='https://leganux.com')  Leganux.com
        | .
    |  All rights
    |     reserved.
